html,
body {
    height: 100%;
    color: #666666;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
.nav-controls a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: white;
    transition: opacity 0.125s linear;
}
.nav-controls a:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.125s linear;
}
.first-container {
    background: url("https://i.imgur.com/AsHIikP.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
}
.nav-container {
    height: 58px;
    width: 100%;
    position: fixed;
    letter-spacing: 0.025em;
    transition: background-color 0.2s linear;
    text-align: center;
    z-index: 999;
}
.nav-container.solid-nav {
    background-color: #145768;
}
.nav-container .nav-row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.nav-container .nav-row .nav-controls {
    text-align: center;
}
.nav-controls a {
    display: inline-block;
    padding: 0 20px;
}
.container {
    padding: 50px 15%;
}
.row {
    max-width: 1200px;
    margin: 0 auto;
}
.row h1 {
    text-align: center;
    font-weight: 400;
}
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#145768;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    transition: 0.2s linear;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#27b4d0;
}
#welcome {
    color: white;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -300px;
    z-index: 1;
}
#welcome span{
    font-size: 112px;
}
.parallax {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.firstHorizontal {
    background-image: url("https://i.imgur.com/aqCKILe.jpg");
}
.secondHorizontal {
    background-image: url("https://i.imgur.com/eZAcgC7.jpg");
}
.thirdHorizontal {
    background-image: url("https://i.imgur.com/XOGNaev.jpg");
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
#resume {
    text-align: center;
}
#changeLanguage {
    border: 0;
    color: white;
    font-size: 1em;
    background-color: #145768;
    height: 40px;
    width: 300px;
    margin: 20px 0;
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset,
    0 2px 0 -1px rgba(0,0,0,0.13),
    0 3px 0 -1px rgba(0,0,0,0.08),
    0 3px 13px -1px rgba(0,0,0,0.21);
    transition: 0.2s linear;
}
#changeLanguage:hover {
    opacity: 0.8;
}
#changeLanguage:focus {
    outline: none;
}
#changeLanguage:active {
    top: 1px;
    position: relative;
}
#cvPic {
    width: 100%;
    max-width: 596px;
    height: auto;
    transition: 0.4s linear;
    border: 1px solid black;
    margin-top: 20px;
}

.sectionPic {
    width: 45%;
    max-width: 400px;
    height: auto;
    float: left;
    margin: 25px 20px 25px 0;
}
#about p {
    text-indent: 2em;
}
.project {
    display: inline-block;
    width: 100%
}
.project ul {
    margin-left: -20px;
}
.projDesc {
    display: inline-block;
    width: 50%;
}
#projects a {
    color: inherit;
}
#contact {
    background: #145768;
    color: white;
}
#contact p {
    font-size: 20px;
}
#contact a {
    color: white;
    text-decoration: none;
}